.home {
    color: azure;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgba(34, 36, 37, 0.692);
    position:fixed;
    &_img {
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &_desc {
        margin: 1rem;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: rgba(225, 231, 235, 0.151);
        
    }
}    

