.home {
    color: azure;
    width: 19.8%;
    height: 100%;
    position: fixed;
    background-color: rgba(34, 36, 37, 0.692);
    position:fixed;
    &_img {
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    // &_desc {
    //     margin: 1rem;
    //     padding: 1rem;
    //     font-size: 1.2rem;
    //     background-color: rgba(225, 231, 235, 0.151);
    //     border-radius: 15px;
        
    // }

    &_btn {
        border-radius: 1rem;
        background-color: rgb(20, 18, 18);
        padding: 1em;
    }
    &_lien {
        color:rgb(255, 255, 255);
        font-size: 1.5rem;
        text-shadow:
            0 0 7px rgb(0, 89, 255),
            0 0 10px rgb(0, 89, 255),
            0 0 42px rgb(3, 211, 248),
            0 0 77px rgb(3, 211, 248),
            0 0 100px rgb(3, 211, 248);
        animation: neon 1s infinite linear;
    }
    
    @keyframes lien {        
        0% {
            text-shadow:
            0 0 7px rgb(0, 89, 255),
            0 0 10px rgb(0, 89, 255),
            0 0 42px rgb(26, 176, 202),
            0 0 77px rgb(26, 176, 202),
            0 0 100px rgb(26, 176, 202);
        }
    
        50% {
            text-shadow:
            0 0 7px rgb(0, 89, 255),
            0 0 10px rgb(0, 89, 255),
            0 0 42px rgb(3, 211, 248),
            0 0 77px rgb(3, 211, 248),
            0 0 100px rgb(3, 211, 248);
        }

    }
}

// Card backrgound color nav
@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
	&:after {
		position: absolute;
		content: "";
		top: $y;
		left: $x;

		right: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		transform: scale($size);
		-webkit-filter: blur($spread);
		-moz-filter: blur($spread);
		-ms-filter: blur($spread);
		filter: blur($spread);
		background: linear-gradient(270deg, $colorA, $colorB);
		background-size: 200% 200%;
		animation: animateGlow $duration ease infinite;

		@keyframes animateGlow {
			0% {
				background-position: 0% 50%;
			}

			50% {
				background-position: 100% 50%;
			}

			100% {
				background-position: 0% 50%;
			}
		}
	}
}
.home_desc {
	position: relative;
        margin: 1rem;
        padding: 1rem;
        font-size: 1.2rem;
        background-color: rgba(69, 72, 73, 0.384);
        border-radius: 15px;
	// width: 30vw;
	// height: 30vw;
	// line-height: 30vw;
	// text-align: center;
	color: #252b37;
	background-color: #151823b6;
	animation: textColor 10s ease infinite;
	border-radius: 15px;
	@include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);

	@keyframes textColor {
		0% {
			color: #7e0fff;
		}

		50% {
			color: #0fffc1;
		}

		100% {
			color: #7e0fff;
		}
	}
}