.content{
    margin-left: 20%;
    top: 10rem;

    &_title {
        background-color: rgba(201, 218, 228, 0.925);
        padding: 1rem;
        position: sticky;
        top: 0;
        text-align: center;
        font-size: 2.5rem;
    }
    &_flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    }