
.block {
    background: rgba(20, 19, 19, 0.391);
}
.card {
    width: 22.5%;
    margin: 2rem;
    display: inline-block;
    border: 2px solid rgb(31, 2, 20);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    background-size: cover;
    box-shadow: 7px 7px 15px rgb(84, 69, 90);
    transition: transform .3s;
    &-main{
        width: 25%
    }
    &-position{
    display: flex;
    justify-content: center;
    }
    &-one{
        background-image: url(/src/image/Capture\ d’écran\ 2023-05-16\ 162846.png);
    }
    &-two{
        background-image: url(/src/image/flowers-pattern-neon-colors-illustartion_739548-1365.jpg);
    }
    &-three{
            background-image: url(/src/image/kassandras__vibrant_flower_pattern_colorful_6f2e398e-b0b7-433f-830e-2e297f9c9f93.webp);
    }
    &-content{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: 1.1em;
    font-family: 'Nunito Sans',sans-serif;
    padding-top: 10px;
    background: rgba(20, 19, 19, 0.451);
    }
    &-title{
    margin-bottom:1rem;
    padding: 2rem 2rem 5px;
    font-family: Orbitron,sans-serif;
    font-size: 2.3rem;
    }
    &-image{
    margin: 1rem;
    width: -webkit-fill-available;
    border-radius: 15px;
    border: 3px solid rgb(225, 17, 190);
    }
}
.card:hover{
    z-index: 10;
    transform: scale(1.05);
    box-shadow: 20px 20 18px rgb(84, 69, 90);
    .block {
        background: rgba(10, 11, 10, 0.607);
    }
}

